.button {
    width: 200px;
    background-color: #00004b;
    color: white;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: white;
    color: #00004b;
    font-weight: bold;
    border: 2px solid #00004b;
}