.spinner-container {
  display: flex; /* Usar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Establecer la altura del contenedor al 100% del viewport */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333; /* Color del borde izquierdo del spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animación de giro */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
