.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Máximo de dos columnas */
  gap: 10px;
  padding: 10px;
  margin-left: 150px; /* Añade margen izquierdo */
}

.grid-item-left {
  display: flex;
  align-items: center;
  justify-content: left;
}

.grid-item-right {
  display: flex;
  align-items: center;
  justify-content: right;
}

.dashboard-title {
  margin-left: 150px; /* Ajusta el margen para que coincida con el grid-container */
}

.dashboard-background-color {
  background-color: #eaedf1;
  height: 100vh;
  position: relative; /* Asegura que los hijos con posición absoluta se ubiquen correctamente */
}

.notification-modal {
  position: fixed; /* Hace que el modal flote en la ventana */
  top: 10px; /* Espacio desde la parte superior */
  right: 10px; /* Espacio desde la derecha */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

@media (max-width: 1300px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
