.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  margin-left: 150px;
  max-width: 1800px;
}

.grid-item-left,
.grid-item-right {
  width: 100%;
}

.dashboard-title {
  margin-left: 150px;
}

.dashboard-background-color {
  background-color: #eaedf1;
  height: 100vh;
  position: relative;
}

.notification-modal {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.pie-charts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.pie-chart-card {
  width: 100%;
}

@media (max-width: 1300px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin-left: 20px;
  }

  .dashboard-title {
    margin-left: 20px;
  }

  .pie-charts-container {
    grid-template-columns: 1fr;
  }
}
