.date-picker-wrapper {
  width: 25%;
}

.date-picker-input {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.generate-button {
  min-width: 150px;
}

.export-button-exporting {
  background-color: #960909 !important;
  border-color: #960909 !important;
  border-width: 2px !important;
  border-style: solid !important;
}
