.ConfirmationModalContainer {
  width: 500px;
  min-height: 100px;
  background: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 20px;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.ConfirmationEncabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 1px;
  border-bottom: 1px solid #e8e8e8;
}

.ConfirmationTituloModalCerrar {
  font-weight: 700;
  font-size: 25px;
  color: #13139f;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.ConfirmationContenidoModal {
  flex-direction: column;
  align-items: center;
}

.ConfirmationTituloContenido {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}
.Pe {
  font-size: 18px;
  margin-bottom: 20px;
}

.ConfirmationFilaModal {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  margin-bottom: 20px;
  list-style-type: none;
}

.ConfirmationItem {
  display: flex;
  align-items: center;
}

.ConfirmationLabel {
  margin-right: 10px;
}

.Centrar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.Disclosure {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  font-size: 12px;
}
