.overviewCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background-color: #fff;
    transform: translateY(0);
    transition: all 0.3s;
    min-width: 250px;
}