.ModalContainer {
  width: 500px;
  min-height: 100px;
  background: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow:  rgba(100,100,111,0.2) 0 7px 29px 0;
  padding: 20px;
}

.Encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 1px;
  border-bottom: 1px solid #E8E8E8;
}

.TituloModalCerrar {
  font-weight: 700;
  font-size: 25px;
  color: #13139F;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.ContenidoModal {
  flex-direction: column;
  align-items: center;
}

.TituloContenido {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}
.Pe {
  font-size: 18px;
  margin-bottom: 20px;
}

.filaModal {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  margin-bottom: 20px;
  list-style-type: none;
  align-items: center; /* Centrar verticalmente los elementos en cada fila */
  justify-content: center; /* Centrar horizontalmente los elementos en cada columna */
}

.item {
  display: flex;
  align-items: center;
}

.label {
  margin-right: 10px;
}

.centrarTexto {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}


